@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

@layer components {
  .btn-primary {
    @apply bg-primary-500 rounded-full min-w-[90px] py-2 px-4 text-white font-bold lg:hover:bg-secondary-500;
  }
  .btn-secondary {
    @apply bg-secondary-500 rounded-full min-w-[90px] py-2 px-4 text-white font-bold lg:hover:bg-primary-500;
  }
  .input-primary {
    @apply h-[50px] py-3 text-base font-normal text-gray-800 border-2 border-solid rounded-full select-none focus:border-secondary-500;
    box-shadow: none !important;
    outline: none !important;
  }
}

.progress-bar {
  background: linear-gradient(to left, #be3459, #eda9a9);
  box-shadow: 0 3px 3px -5px #be3459, 0 2px 5px #be3459;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
